<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 这个文件用于Action的创建： 一定是多例 -->
	
	<!-- 用户模块 -->
	<bean id="userAction" class="gz.itheima.itheimacrm.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 客户模块 -->
	<bean id="customerAction" class="gz.itheima.itheimacrm.action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"></property>
	
	</bean>
	
	<!-- 联系人模块 -->
	<bean id="linkmanAction" class="gz.itheima.itheimacrm.action.LinkmanAction" scope="prototype">
		<!-- 注入客户的模块 -->
		<property name="customerService" ref="customerService"></property>
		<!-- 注入联系人的业务模块 -->
		<property name="linkmanService" ref="linkmanService"></property>
	</bean>
	
	
	
	
</beans>












