<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 用于Dao的实例创建 -->
	
	<!-- 创建用户模块DAO -->
	<bean id="userDao" class="gz.itheima.itheimacrm.dao.impl.UserDaoImpl">
		<!-- 注入hibernate模板 -->
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<!-- 客户模块 -->
	<bean id="customerDao"  class="gz.itheima.itheimacrm.dao.impl.CustomerDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<!-- 联系人模块 -->
	<bean id="linkmanDao" class="gz.itheima.itheimacrm.dao.impl.LinkmanDaoImpl">
		<property name="ht" ref="hibernateTemplate"></property>
	</bean>
	
	
</beans>












